<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search History Page</title>
    <meta userName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container my-5">
    <p class="my-5"><a href="/sign-out" class="fa fa-sign-out fa-2x" aria-hidden="true"><i></i></a></p>
    <div th:switch="${searches}"  class="col-md-6">
        <h2 th:case="null">No Searches Yet!</h2>
        <div th:case="*">
            <h2 class="my-5">Search History</h2>
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Search Counter</th>
                    <th><a th:href="@{/deleteAll}" class="btn btn-danger" aria-label="Delete">
                        <i class="fa fa-trash-o fa-lg"></i> Delete</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="search : ${searches}">
                    <td><a th:href="${search.getLink()}"><i th:text="${search.getLogin()}"></i> </a></td>
                    <td th:text="${search.getSearchCounter()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="my-5"><a href="/search"><i> Back To Search</i></a></p>
    </div>
</div>
</body>
</html>