<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Search Details Page</title>
    <meta userName="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container my-5">
    <p class="my-5"><a href="/sign-out" class="fa fa-sign-out fa-2x" aria-hidden="true"><i></i></a></p>
    <div th:switch="${login}"  class="col-md-6">
        <h2 th:case="null"></h2>
        <div class="row" th:case="*">
            <div class="col-md-6">
                <h3>GitHub search:</h3> <br>
                Login: <span th:text="${login}"></span> <br>
                Followers: <span th:text="${followers}"></span>
            </div>
        </div>
        <p class="my-5"><a href="/search"><i> Back to Search</i></a></p>
    </div>
</div>
</body>
</html>